@keyframes toInactive {
    from {
        transform: scale(1.1);
        opacity: 1;
        box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
    }
    to {
        transform: scale(1);
        box-shadow: rgba(0, 0, 0, 0.8) 0 0 20px;
        opacity: .85;
    }
}

@keyframes toActive {
    from {
        transform: scale(1);
        opacity: .85;
        box-shadow: rgba(0, 0, 0, 0.8) 0 0 20px;
    }
    to {
        transform: scale(1.1);
        opacity: 1;
        box-shadow: rgba(0, 0, 0, 0.8) 0 0 5px;
    }
}

@keyframes toInactiveNoBox {
    from {
        transform: scale(1.1);
        opacity: 1;
    }
    to {
        transform: scale(1);
        opacity: .85;
    }
}

@keyframes toActiveNoBox {
    from {
        transform: scale(1);
        opacity: .85;
    }
    to {
        transform: scale(1.1);
        opacity: 1;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
        bottom: 100%;
    }
}

section {
    background-color: rgba(0, 0, 0, .35);
    color: white;
    font-size: 2vh;
    height: 100vh;
    font-family: 'PT Serif', serif;
}

.header.icon-large {
    line-height: 20vw;
    height: 0;
}

@media (min-width: 800px) {
    .header.icon-large {
        line-height: 20vw;
        height: 29vw;
        width: 29vw;
    }
}

.sub-section {
    height: 50%;
    display: table-row;
    vertical-align: middle;
}

.sub-section.header {
    display: none;
    height: 0;
}

@media (min-width: 800px) {
    .sub-section {
        display: table-cell;
        height: auto;
        width: 33%;
        vertical-align: middle;
        padding: 2vw;
    }
    .sub-section.header {
        display: table-cell;
        height: auto;
    }
}

.top {
    background: url("../../assets/images/thailand_top.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}

.fixed-background {
    background-attachment: fixed;
}

.cover {
    height: 100%;
    width: 100%;
}

.center-column {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-row {
    display: table;
    table-layout: fixed;
}

.sans-narrow {
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
}

.top .header {
    height: 100%;
    color: white;
    font-size: 15vh;
    text-shadow: 2px 2px rgba(10, 10, 10, .55);
    margin-top: 0;
    margin-bottom: 0;
}

.top .header .sub {
    color: white;
    font-size: 3vh;
    text-shadow: 1px 1px rgba(10, 10, 10, .55);
    font-family: 'PT Serif', serif;
    text-transform: capitalize;
}

.sub-section .header {
    color: white;
    font-size: 4vh;
}

.sub-section .sub-header {
    color: white;
    font-size: 3vh;
}

.list-element {
    text-transform: none;
}

.sub-section .explore,
.sub-section .stay {
    max-height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    list-style-type: none;
    font-family: 'PT Serif', serif;
    text-transform: capitalize;
    font-weight: 500;
}

.locations {
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark {
    background-color: rgba(0, 0, 0, 0.35);
}

.darker {
    background-color: rgba(0, 0, 0, 0.65);
}

.icon {
    display: block;
    height: 15vh;
    width: 15vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.icon-large {
    display: block;
    height: 29vw;
    width: 29vw;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.strip {
    width: 100%;
    height: 100%;
}

.locations .icon {
    margin: 1.5vw;
    background-color: 0.5;
    animation: toInactive .2s ease-out both;
}

.locations .icon:after {
    pointer-events: none;
    position: fixed;
    bottom: 80%;
    left: 0;
    width: 100%;
    height: 4vh;
    content: '';
    color: white;
    opacity: 0;
    font-size: 3vh;
}

.locations .icon:hover:after {
    animation: fadeIn .2s ease-out both;
}

.locations .icon:hover {
    animation: toActive .2s ease-out both;
}

.bangkok {
    background-image: url("../../assets/images/bangkok.jpg");
    background-position: left;
    background-size: cover;
}

#bangkok {
    background-image: url("../../assets/images/bangkok_bg.jpg");
    background-size: cover;
}

.locations .icon.bangkok:after {
    content: 'Bangkok';
}

.chiang-mai {
    background-image: url("../../assets/images/chiang_mai.jpg");
    background-position: left;
    background-size: cover;
}

#chiang_mai {
    background-image: url("../../assets/images/chiang_mai_bg.jpg");
    background-size: cover;
}

.locations .icon.chiang-mai:after {
    content: 'Chiang Mai';
}

.krabi {
    background-image: url("../../assets/images/krabi.jpg");
    background-position: center;
    background-size: cover;
}

#krabi {
    background-image: url("../../assets/images/krabi_bg.jpg");
    background-size: cover;
}

.locations .icon.krabi:after {
    content: 'Krabi';
}

.section iframe {
    height: 100vh;
}

.nav-bar {
    position: fixed;
    bottom: 0;
}

a.timeline {
    position: fixed;
    left: 2vh;
    top: 2vh;
    animation: toInactiveNoBox .2s ease-out both;
}

a.timeline:hover {
    animation: toActiveNoBox .2s ease-out both;
}

a.timeline:after {
    pointer-events: none;
    content: 'Timeline' !important;
    position: fixed;
    left: -.5vh;
    top: 110%;
    width: 100%;
    height: 4vh;
    color: white;
    opacity: 0;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
    font-size: 3vh;
}

a.timeline:hover:after {
    animation: fadeIn .2s ease-out both;
}

a.timeline .countdown {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%;
    font-size: 2.5vh;
    text-transform: uppercase;
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 700;
}

a {
    color: white;
    text-decoration: none;
}

ul {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

html {
    overflow: auto;
}

body {
    text-align: center;
    background-color: #333;
    margin: 0;
    position: absolute;
    display: inline-table;
    overflow-y: scroll;
    overflow-x: hidden;
}


/* Let's get this party started */

::-webkit-scrollbar {
    width: 12px;
}


/* Track */

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.4);
}
